= stylesheet_link_tag 'tile'
= stylesheet_link_tag 'cell'
= stylesheet_link_tag 'map_card'

.displayer
  .map_card
    .pricing-block-content
      .d-flex.home-text{ data: { controller: 'maps--render', 'maps--render-target': 'data' } }
        %h1
          = @map.name

        %div
          .mapDiv.game-inside{ data: { 'maps--render-target': 'mapDiv' } }

        .d-none{ data: { 'maps--render-target': 'won' } }
          You won