.cell-closed {
  background-image: asset_url('svg/closed_cell.svg');
}

.cell-0 {
  background-image: asset_url('svg/cell0.svg');
}

.cell-1 {
  background-image: asset_url('svg/cell1.svg');
}

.cell-2 {
  background-image: asset_url('svg/cell2.svg');
}

.cell-3 {
  background-image: asset_url('svg/cell3.svg')
}

.cell-4 {
  background-image: asset_url('svg/cell4.svg')
}

.cell-5 {
  background-image: asset_url('svg/cell5.svg')
}

.cell-6 {
  background-image: asset_url('svg/cell6.svg')
}

.cell-7 {
  background-image: asset_url('svg/cell7.svg')
}

.cell-8 {
  background-image: asset_url('svg/cell8.svg')
}

.cell_mine {
  background-image: asset_url('svg/mine.svg')
}

.cell_red_mine {
  background-image: asset_url('svg/mine_red.svg')
}

.cell-flaged {
  background-image: asset_url('svg/flag.svg')
}