body {
  background-color: #FF69B4;
  font-family: '8bitoperator JVE', monospace;
  color: #FFFFFF;
  margin: 0px;
}

.upper-bar {
  background-color: #4B0082;
  padding: 3rem;
  border-bottom: 2px solid #50381F;
  box-shadow: 0 2px 5px #4B0082;
}

.upper-container {
  display: flex;
  justify-content: space-between;
}

.m-top-2 {
  margin-top: 2rem;
}

.user-links {
  justify-content: end;
}

.home-text {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.simple-white-link {
  color: #FFFFFF;
  text-decoration: none;
}